@import 'partials/variables'; //header

header {
    background-color: $darkColor;

    img {
        position: relative;
        margin-top: 142px;
        margin-bottom: 157px;
        left: 43%;
    }

    h1,
    p {
        color: $white;
        text-align: center;
        font-size: 18px;
    }

    h1 {
        text-transform: uppercase;
        margin-bottom: 44px;
        font-size: 80px;
    }

    .header-text {
        margin: auto;
        max-width: 420px;

        p {
            margin-bottom: 185px;
        }
    }
}
//What I do

.whatIDo {
    .presentation {
        margin: 70px auto auto;
        max-width: 880px;

        p {
            text-align: center;
            margin-top: 44px;
            font-size: 30px;
        }
    }

    h1 {
        text-transform: uppercase;
        margin-top: 80px;
        margin-bottom: 72px;
        font-size: 80px;
        text-align: center;
    }

    .WID-ThirdR {
        margin: auto auto 101px 60px;

        h3 {
            margin-left: 30px;
        }

        p {
            margin: auto;
            font-size: 18px;
            color: $grey;
        }

        h3:nth-child(2),
        p {
            margin-left: 30px;
            margin-right: 40px;
        }
    }
}

//My Work
.MyWork {
    background-color: $darkColor;

    h1 {
        color: $white;
        font-size: 80px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin-top: 114px;
    }

    .boxes {
      margin: auto;

      h3 {
        color: $white;
        text-align: center;
      }
      p {
        text-align: center;
        color: $purple;
      }

      .w-first{
          margin-top: 85px;
          margin-left: 70px;
      }

      .w-second{
          margin-top: 85px;
          margin-left: 70px;
      }

      .box {
          background-color: $lightPurple;
          margin: auto;
          width: 298px;
          height: 298px;
      }
    }

    .SeeMyWork {
      text-align: center;
      input {
        margin-top: 72px;
        margin-bottom: 129px;
        color: $white;
        background-color: $lightPurple;
        border-color: $lightPurple;
      }

    }
}

//infinitive
.infinite {
  img {
    margin-top: 214px;
    margin-bottom: 29px;
    position: relative;
    left: 45%;
  }

  .text {
    margin: auto;
    max-width: 470px;;
    p {
      text-align: center;
      font-size: 18px;
      margin-bottom: 43px;
    }
  }

  form {
    background-color: black;
    max-width: 700px;
    margin: auto;
    padding: 20px 5px 5px 20px;
    margin-bottom: 242px;

    button {
      background-color: $lightPurple;
      color: $white;
    }
  }
}

//footer
footer {
  background-color: $darkColor;
  .row {
    margin: auto;
    .social-networks {
      margin-top: 86px;
      margin-bottom: 86px;
      margin-right: 40px;
      text-align: center;
      font-size: 43px;
      li {
        display: inline-flex;
        margin-left: 20px;
      }
      a{
        color: $white;
      }
    }

    p {
      color: $grey;
      text-align: center;
    }
    p:nth-child(2) {
      margin-bottom: 86px;
    }
  }
}
