@import 'partials/variables'; //header

header {
    background-color: $darkColor;

    img {
        position: relative;
        margin-top: 142px;
        margin-bottom: 157px;
        left: 43%;
    }

    h1,
    p {
        color: $white;
        text-align: center;
        font-size: 18px;
    }

    h1 {
        text-transform: uppercase;
        margin-bottom: 44px;
        font-size: 80px;
    }

    .header-text {
        margin: auto;
        max-width: 420px;

        p {
            margin-bottom: 185px;
        }
    }
}
//What I do

.whatIDo {
    .presentation {
        margin: 70px auto auto;
        max-width: 880px;

        p {
            text-align: center;
            margin-top: 44px;
            font-size: 30px;
        }
    }

    h1 {
        text-transform: uppercase;
        margin-top: 80px;
        margin-bottom: 72px;
        font-size: 80px;
        text-align: center;
    }

    .WID-ThirdR {
        margin: auto auto 101px 60px;

        h3 {
            margin-left: 30px;
        }

        p {
            margin: auto;
            font-size: 18px;
            color: $grey;
        }

        h3:nth-child(2),
        p {
            margin-left: 30px;
            margin-right: 40px;
        }
    }
}

//My Work
.MyWork {
    background-color: $darkColor;

    h1 {
        color: $white;
        font-size: 80px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin-top: 114px;
    }

    .boxes {
      margin: auto;

      h3 {
        color: $white;
        text-align: center;
      }
      p {
        text-align: center;
        color: $purple;
      }

      .w-first{
          margin-top: 85px;
          margin-left: 70px;
      }

      .w-second{
          margin-top: 85px;
          margin-left: 70px;
      }

      .box {
          background-color: $lightPurple;
          margin: auto;
          width: 298px;
          height: 298px;
      }
    }

    .SeeMyWork {
      text-align: center;
      input {
        margin-top: 72px;
        margin-bottom: 129px;
        color: $white;
        background-color: $lightPurple;
        border-color: $lightPurple;
      }

    }
}
